/* ------------------------------
   ux_shared.css
   ------------------------------ */

@import url("shared_ux_constants.css");
@import url("reset.css");
@import url("fonts.css");

body {
  font-family: 'Proxima', sans-serif;
  font-size: 14px;
  line-height: 1.25em;
  padding: 24px;
  background: #F2F2F9;
}

h1 {
  font-family: 'Proxima-light';
  font-size: 32px;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
}

/* -------- newsletters -------- */

.newsletter-holder {
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.newsletter {
  margin: 24px 24px 0 0;
  background: #FFF;
  border-radius: var(--border-radius);
}

.newsletter .title {
  font-family: 'Proxima', sans-serif;
  font-size: 20px;
  padding: 24px;
  background: var(--primary-blue);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.newsletter .title:hover {
  background: var(--primary-blue-50);
}

.newsletter .title a,
.newsletter .title a:hover,
.newsletter .title a:active,
.newsletter .title a:focus,
.newsletter .title a:visited {
  color: #FFF;
  text-decoration: none !important;
}

.newsletter .topics {
  color: var(--medium-gray);
  padding: 24px;
}

.newsletter .topic {
  line-height: 1.8em;
}
