/* ------------------------------
   ux_shared.css
   ------------------------------ */

@import url("shared_ux_constants.css");
@import url("reset.css");
@import url("fonts.css");

body {
  font-family: 'Proxima', sans-serif;
  font-size: 14px;
  line-height: 1.25em;
  padding: 24px;
  background: #F2F2F9;
}

h1 {
  font-family: 'Proxima-light';
  font-size: 32px;
  letter-spacing: .02em;
  margin-top: 24px;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
}

/* -------- newsletters -------- */

.newsletter-holder {
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.newsletters a *,
.newsletters a *,
.newsletters a:-webkit-any-link {
  color: unset;
  text-decoration: none !important;
}

.newsletter {
  margin: 24px 24px 0 0;
  width: 320px;
  position: relative;
  background: #FFF;
  border-radius: var(--border-radius);
}

.newsletter:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-blue-rgba-40);
  border-radius: var(--border-radius);
}

.newsletter .title {
  color: #FFF;
  padding: 32px 24px 24px 96px;
  position: relative;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.newsletter .title span {
  font-family: 'Proxima-bold', sans-serif;
  font-size: 24px;
  letter-spacing: .02em;
  text-transform: uppercase;
}

.newsletter .title::before {
  content: "\e933";
  font-size: 32px;
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  left: 28px;
  border-radius: var(--border-radius);
}

.newsletter .title.green {
  background: var(--accent-green-150);
}

.newsletter .title.green::before {
  color:rgba(255, 255, 256, .7);
  background: #1fa504;
}

.newsletter .date {
  font-family: 'Proxima', sans-serif;
  font-size: 18px;
  margin-top: 8px;
}

.newsletter .topics {
  color: var(--darker-gray-75);
  padding: 32px;
}

.newsletter .topic {
  font-family: 'Proxima-semibold', sans-serif;
  font-size: 16px;
  line-height: 1.8em;
}

.newsletter .subtopic {
  font-family: 'Proxima', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
  margin-bottom: 8px;
  padding-left: 16px;
}
